*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: linear-gradient(rgb(5,18,45), rgb(56,31,64));
    min-height: 100vh;

}
.serchbox{
    padding-top: 20vh;
    text-align: center;
    color: #fff;
}
.serchbox h1{
    font-size: 4rem;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding-bottom: 20px;
}
.form-control{
    height: 4rem;
    border-radius: 20px;
    font-size: 2rem;
    color: #000;
    padding-left: 20px;
}
.btn-primary{
    font-size: 1.1rem;
    font-weight: bold;
    color: #000;
    background-color: #fff;
    margin-top: 20px;
    padding: 15px;
}
.btn-primary:hover{
    background-color: rgb(37, 189, 37);
}
.follower{
    text-align: center;
}
.follower button{
    /* margin: 10px; */
    color: #fff;
    border: 5px solid rgba(130, 199, 255, 0.281);
    padding-top: 0;
    padding-bottom: 0;
    max-width: 200px;
    min-width: 150px;
    background-color: rgba(0, 0, 0, 0.2);
}
.follower button:hover{
    color: #fff;
    border: 5px solid rgba(130, 199, 255, 0.281);
    max-width: 200px;
    min-width: 150px;
    background-color: rgba(0, 0, 0, 0.2);
}
@media only screen and (max-width: 400px){
    body{
        max-height: 100%;
    }
    .serchbox h1{
        font-size: 2rem;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        padding-bottom: 20px;
    }
    .form-control{
        height: 3rem;
        border-radius: 20px;
        font-size: 1.5rem;
        color: #000;
        padding-left: 20px;
    }
    
}

